// BREAKPOINTS
$desctop-bp: 1920px;
$laptop-bp: 1366px;
$landscape-bp: 1200px;
$tablet-bp: 900px;
$mobile-bp: 768px;
$xs-mobile-bp: 375px;

// COLORS
$primary: #111111;
$secondary: #FCDA28;
$secondary-orange:#FCB500;
$gray: #ADADAD;
$white: #FFFFFF;
$black: #000;