@import "vars.scss";
@import "mixins.scss";

.main {
    display: flex;
    font-family: 'Rubik', Sans-serif, Arial;
}

#header {
    background-color: $primary;
}

.header {
    display: flex;
    padding: 20px;
    margin: 0;
    height: 80px;
    justify-content: space-around;

    .header__basket {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 32px;
            height: 32px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/svg/Vector.svg);
        }

        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $secondary-orange;
            left: 20px;
            top: 22px;
            color: $black;
            font-size: 8px;
            padding-left: 3px;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation__item {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        position: relative;
        font-family: "Rubik", Sans-serif, Arial;
        color: $white;
    }

    @include breakpoint($tablet-bp) {
        justify-content: space-between;

        nav,
        .header__basket {
            display: none;
        }
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

// Text modification

.text-highlighted {
    color: $secondary-orange;
}

.text-strikeout {
    text-decoration: line-through;
    color: $gray;
}

a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Rubik", Sans-serif, Arial;
    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// btn
.btn {
    background: $secondary-orange;
    border-radius: 7px;
    padding: 16px 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: "Rubik", Sans-serif, Arial;

    &:hover {
        background: $secondary;
    }

    &:active,
    &:focus {
        outline: 1px solid $gray;
    }
}