<div class="hero">
    <!-- <img class="hero__header-bg" src="../../assets/images/vector.png"/> -->
    <div class="container">
        <div class="hero__wrap">
            <div class="hero__content">
                <h1 class="hero__title">АКТИВИРУЙ <br/>ИММУНИТЕТ!</h1>
                <p class="hero__title-description">Всего пять секунд в день помогут укрепить иммунитет 
                    и повысить защитные силы организма</p>
                
                <h3 class="hero__subtitle">NOOTRIS ПОМОГАЕТ</h3>
                <p class="hero__subtitle-description">Вашему организму во время пандемии 
                    и сезонных простуд</p>
            </div>
            <div class="hero__background">
                <img src="../../assets/images/group.png"/>
            </div>
        </div>
    </div>
</div>