<div class="intro">
    <h2 class="intro__title">ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА<br />
        <span class="text-highlighted"> СО СКИДКОЙ -15% ПЕРВЫМ!</span>
    </h2>
    <div class="intro__price">
        <span class="text-strikeout">750₽</span>
        <span class="new-price">690₽</span>
    </div>
    <div class="intro__action">
        <div class="intro__action-item">
            <img src="../../assets/images/ginger.png" alt="">
            <p class="intro__descrioption">Содержит <br />
                <span class="text-highlighted">имбирь</span>
            </p>
        </div>
        <div class="intro__action-item intro__promo">
            <img src="../../assets/images/nootris.png" alt="">

            <div class="intro__action-title">
                <h4>+ Бесплатная доставка</h4>
                    <span class="text-highlighted">Специальная цена</span>
            </div>
        </div>
        <div class="intro__action-item">
            <img src="../../assets/images/vorus.png" alt="">
            <p class="intro__descrioption">Нейтрализует <br />
                <span class="text-highlighted">вирусы</span>
            </p>
        </div>
    </div>
    <button class="btn">Оформить заказ!</button>
</div>