<aside class="sidebar" id="sidebar">
    <nav class="action">
        <ul class="action__items">
            <li class="navigation__item"><a href="javascript;:">FAQ</a></li>
            <li class="navigation__item"><a href="javascript;:">Оплата и доставка</a></li>
            <li class="navigation__item"><a href="javascript;:">Возврат</a></li>
            <li class="navigation__item"><a href="javascript;:">Личный кабинет</a></li>
            <li class="navigation__item"><a href="javascript;:">8 8 (800) 600-09-90</a></li>
            <li class="navigation__item"><a class="header__basket" href="javascript;:">Корзина</a></li>
        </ul>
    </nav>
</aside>