@import "../vars.scss";
@import "../mixins.scss";

.hero {
    background: $secondary;
    height: 872px;
    position: relative;

    @include breakpoint($landscape-bp) {
        height: 650px;
    }

    @include breakpoint($mobile-bp) {
        height: 750px;

    }
}

// .hero__header-bg {
//     position: absolute;
//     top: -50px
// }

.hero__wrap {
    display: flex;
    position: relative;

    @include breakpoint($mobile-bp) {

        flex-direction: column;
    }
}

.hero__content {
    z-index: 1;
    width: 43%;
    margin-top: 100px;


    .hero__title {
        font-weight: 700;
        font-size: 144px;
        line-height: 152px;
        color: $white;
        margin-bottom: 24px;
        font-family: 'Rubik', Sans-serif, Arial;

    }

    .hero__title-description {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 120px;
        font-family: 'Rubik', Sans-serif, Arial;

    }

    .hero__subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 16px;
        font-family: 'Rubik', Sans-serif, Arial;

    }

    .hero__subtitle-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-family: 'Rubik', Sans-serif, Arial;

    }

    @include breakpoint($landscape-bp) {
        margin-top: 30px;

        .hero__title {
            font-weight: 700;
            font-size: 100px;
            line-height: 100px;
        }

        .hero__title-description {
            margin-bottom: 60px;
        }
    }

    @include breakpoint($mobile-bp) {
        width: 100%;
        margin-top: 16px;


        .hero__title {
            font-weight: 700;
            font-size: 70px;
            line-height: 60px;
            margin-bottom: 16px;

        }

        .hero__title-description {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;

        }

        .hero__subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 8px;
        }

        .hero__subtitle-description {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
    }

    @include breakpoint(600px) {
        .hero__title {
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
        }
    }

}

.hero__background {
    top: 0;
    right: 0;

    @include breakpoint($landscape-bp) {
        img {
            width: 130%;
        }
    }

    @include breakpoint($mobile-bp) {
        img {
            width: 350px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: -50px;
        }
    }
}