<header id="header">
    <div class="container">
        <div class="header">
            <a class="header__logo">
                <img src="../assets/images/logo.png">
            </a>
            <ul class="navigation">
                <li class="navigation__item"><a>FAQ</a></li>
                <li class="navigation__item"><a>Оплата и доставка</a></li>
                <li class="navigation__item"><a>Возврат</a></li>
                <li class="navigation__item"><a>Личный кабинет</a></li>
                <li class="navigation__item"><a>8 8 (800) 600-09-90</a></li>
            </ul>
            <a class="header__basket"></a>
        </div>
    </div>
</header>