<header id="header">
    <div class="container">
        <div class="header">
            <a class="header__logo">
                <img src="../assets/images/logo.png">
            </a>
            <ul class="navigation">
                <li class="navigation__item"><a href="javascript;:">FAQ</a></li>
                <li class="navigation__item"><a href="javascript;:">Оплата и доставка</a></li>
                <li class="navigation__item"><a href="javascript;:">Возврат</a></li>
                <li class="navigation__item"><a href="javascript;:">Личный кабинет</a></li>
                <li class="navigation__item"><a href="javascript;:">8 8 (800) 600-09-90</a></li>
            </ul>
            <a class="header__basket" href="javascript;:"></a>
            <div class="burger burger-icon" type="button" id="sidebarToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>